[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
email-validator = "*"
phonenumbers = "*"
pydantic-extra-types = "*"
fastapi = {extras = ["standard"], version = "*"}
jinja2 = "*"

[dev-packages]
ipython = "*"
pympler = "*"
dask = {extras = ["distributed"], version = "*"}

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
